<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<div th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}" href="home.html"> Home </a></li>
                    <li sec:authorize="isAuthenticated()"><a href="javascript: document.logoutForm.submit()">Logout </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--/* because of CSRF logout requires a post, so we need a hidden form */-->
       <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
       </form>

</div>

</body>
</html>