<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="paginated.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div ng-controller="PaginationDemoCtrl">
    <div ng-show="totalItems !=0">
        <table class="table">
            <thead>
            <td>Zip</td>
            <td>City</td>
            <td>StateName</td>
            <td>County</td>
            </thead>
            <tr ng-repeat="row in data">
                <td>{{row.postalCode}}</td>
                <td>{{row.placeName}}</td>
                <td>{{row.stateName}}</td>
                <td>{{row.county}}</td>
            </tr>
        </table>

        View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
        <option>3</option>
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
    </select> records at a time.


        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"
                    items-per-page="itemsPerPage"></pagination>
        <pre>Page: {{currentPage}} / {{numPages}}</pre>


    </div>
</div>
</body>

</html>
